<!doctype html>
<html>
<head>
<title> Train Between station</title>
</head>
<body>
<h1>Welcome to Indian Railway!!</h1>
<form method="post" action="/info/fareenquiry">
	<label>Enter Train Number</label>
	<input name="trainnumber" type="text"/>
	<br>
	<br>
	<label>Enter Journey Date</label>
	<input name="date" type="date"/>
	<br>
	<br>
	<label>Enter Source Station</label>
	<input name="src" type="text"/>
	<br>
	<br>
	<label>Enter Destination Station</label>
	<input name="dest" type="text"/>
	<br>
	<br>
	<label>Enter Age</label>
	<input name="age" type="text"/>
	<br>
	<br>
	<label>Enter Class</label>
	<select name="class1">
    <option value="SL">SLEEPER CLASS</option>
    <option value="2A">SECOND AC</option>
    <option value="3A">THIRD AC</option>
  </select>
	<br>
	<br>
	<label>Enter Quota</label>
	<select name="quota">
    <option value="GN">GENERAL QUOTA</option>
    <option value="CK">TATKAL</option>
  </select>
	<br>
	<br>
	<input type="submit" value="GO"/>
</form>
<br>
<% if(fare) { %>
	<h1>Total Fare:- <%= fare %></h1>
	<%}%>
<button onclick="window.location.href='/'">Home</button>
<button onclick="window.location.href='/info/fareenquiry'">Reset</button>
</body>
</html>