<h1>Welcome to Indian Railway!!</h1>
<h2>Pnr Status</h2>
<form method="post" action="/info/pnrstatus">
	<label>Pnr Number</label>
	<input name="Pnr_number"/>
	<input type="submit" value="Enter"/>
</form>