<!doctype html>
<html>
<head>
<title> Train Between station</title>
</head>
<body>
<h1>Welcome to Indian Railway!!</h1>
<form method="post" action="/info/trainbetweenstation">
	<label>Enter source station</label>
	<input name="source" type="text"/>
	<label>Enter destination station</label>
	<input name="dest" type="text"/>
	<br>
	<br>
	<br>
	<label>Date</label>
	<input name="date" type="date"/>
	<br>
	<br><br>
	<input type="submit" value="Enter"/>
</form>
<% if(trainname3) { %>
	<h1> Trains Names:- </h1>
	<% for(var i=0;i<trainname3.length;i++) {%>
		<h1><%= trainname3[i] %></h1>
		<%}%>
	<%}%>
<br>
	<br><br>
<button onclick="window.location.href='/'">Home</button>
<button onclick="window.location.href='/info/trainbetweenstation'">Reset</button>
</body>

</html>